{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block body %}
    {{parent()}}
    <h1>Editar Provincias</h1>

    <div class="well bs-component col-lg-10">
        <form class="form-horizontal"action="{{ path('provincia_update', { 'id': entity.id }) }}" method="POST" {{ form_enctype(form) }}>
            <fieldset>

                {{ form_widget(form) }}
            </fieldset>    
            <div class="record_actions pull-right">
                <button class="btn btn-primary"type="submit">Guardar</button>
                <a class="btn btn-default" href="{{ path('provincia') }}">
                    Volver
                </a>

            </div>
        </form>
    </div>


{%endblock%}