{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block title %} Listado de Provincias {% endblock %}
{% block body %}
    {{ parent() }}

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>

                        <a class="btn btn-default" href="{{ path('provincia_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>               
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(entities) }}
    </div>
    <div class="actions pull-right">
        <a class="btn btn-primary" href="{{ path('provincia_new') }}">
            Crear Nuevo
        </a>
    </div>
{%endblock%}