{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block title %}Listado Proveedores{% endblock %}
{% block body %}
    {{parent()}}

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Preciocosto</th>
                <th>Activo</th>
                <th>Fechaalta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('productos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.precio }}</td>
                    <td>{{ entity.precioCosto }}</td>
                    <td>{{ entity.activo }}</td>
                    <td>{% if entity.fechaAlta %}{{ entity.fechaAlta|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <ul>
                                <a class="btn btn-default" href="{{ path('productos_edit', { 'id': entity.id }) }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a> 

                            </ul>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(entities) }}
    </div>

    <div class="pull-right">
        <a class="btn btn-primary" href="{{ path('productos_new') }}">
            Crear Nuevo
        </a>
    </div>

{% endblock %}
