{% extends 'ThemeBundle:Default:base.html.twig' %}

{% block title %}Edicion Producto{% endblock title %}
{% block body %}

    <div class="well bs-component col-lg-10">
        <form action="{{ path('productos_create') }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                {{ form_row(form.descripcion) }}
                {{ form_row(form.precio) }}
                {{ form_row(form.precioCosto) }}
                {{ form_row(form.proveedor) }}
                {{ form_row(form.activo) }}
                {{form_rest(form)}}
            </fieldset>   
            <div class="record_actions pull-right">
                <button class="btn btn-primary"type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                <a class="btn btn-default" href="{{ path('productos') }}">
                    Volver
                </a>

            </div>
        </form>
    </div>


{% endblock %}
