{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block title %}Listado Proveedores{% endblock %}
{% block body %}
    {{parent()}}

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numerofactura</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('factura_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.numeroFactura }}</td>
                    <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.total }}</td>
                    <td>
                        <ul>
                            <a class="btn btn-default" href="{{ path('factura_edit', { 'id': entity.id }) }}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a> 

                        </ul>
                        <ul>
                            <a class="btn btn-default" href="{{ path('factura_show', { 'id': entity.id }) }}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a> 

                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="navigation text-center">
        {{ knp_pagination_render(entities) }}
    </div>

    <div class="pull-right">
        <a class="btn btn-primary" href="{{ path('factura_new') }}">
            Crear Nuevo
        </a>
    </div>
{% endblock %}
