{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block title %}Nueva Factura {% endblock title %}
{% block body %}

    <div class="well bs-component col-lg-10">
        {% set detalles_proto %}



            <td>{{ form_widget(form.detalle.vars.prototype.cantidad) }}</td>
            <td>{{ form_widget(form.detalle.vars.prototype.producto) }}</td>            
            <td class="action"></td>


        {% endset %}
        <form action="{{ path('factura_create') }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <div class="col-lg-6">
                    {{ form_row(form.fecha) }}
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.numeroFactura) }}
                </div>

                <div class="col-lg-6">
                    {{ form_row(form.provincia) }}
                </div>
                <div class="col-lg-6">

                    {{ form_row(form.localidad) }}    
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.condicionPago) }}    
                </div>
                <div class="col-lg-6">
                    {{ form_row(form.iva) }}
                </div>

                <div class="col-lg-12">
                    <legend>Detalle</legend>                    

                    <table class="detalle table" data-prototype="{{ detalles_proto|e}}">
                        {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
                        <tbody>
                            <tr>
                                <td><label>Cantidad </label></td>
                                <td><label>Producto </label></td>                                
                                <td><label>Accion</label></td>
                            </tr>
                            {% for detalle in form.detalle %}      

                                <tr>
                                    <td>{{ form_widget(detalle.cantidad) }}</td>
                                    <td>{{ form_widget(domicilios.producto) }}</td>                                
                                    <td class="action"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-6 col-lg-offset-6">
                    {{ form_row(form.total) }}
                </div>
                <div class="hidden">
                    {{ form_rest(form) }}
                </div>
            </fieldset>   
            <div class="record_actions pull-right">
                <button class="btn btn-primary"type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                <a class="btn btn-default" href="{{ path('factura') }}">
                    Volver
                </a>

            </div>
        </form>
    </div>
    <script>

// Obtiene el div que contiene la colección de etiquetas
//var collectionHolder = $('#content_data ul');
        var domicilioCount = 0;
        $('table[data-prototype]').each(function(i, e) {
            var collectionHolder = $(e);

// configura una enlace "Agregar una etiqueta"
            var $addTagLink = $('<a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus-sign"></span> Agregar</a>');
            var $newLinkLi = $('<div></div>').append($addTagLink);



            jQuery(document).ready(function() {


                collectionHolder.find('.action').each(function() {
                    PreAddTagFormDeleteButton($(this));
                });

// Añade el ancla "Agregar una etiqueta" y las etiquetas li y ul
                collectionHolder.append($newLinkLi);

                $addTagLink.on('click', function(e) {
// evita crear el enlace con una "#" en la URL
                    e.preventDefault();

// añade una nueva etiqueta form (ve el siguiente bloque de código)
                    addTagForm(collectionHolder, $newLinkLi);
                });
            });

        });
        function addTagForm(collectionHolder, $newLinkLi) {

// Obtiene el data-prototype explicado anteriormente
            var prototype = collectionHolder.attr('data-prototype');

// cuenta las entradas actuales en el formulario (p. ej. 2),
// lo usa como el nuevo índice (p. ej. 2)
            var newIndex = collectionHolder.find(':input').length;


// Reemplaza el '__name__' en el prototipo HTML para que
// en su lugar sea un número basado en cuántos elementos hay
            var newForm = prototype.replace(/__name__/g, newIndex);

// Muestra el formulario en la página en un elemento li,
// antes del enlace 'Agregar una etiqueta'
            var $newFormLi = $('<tr></tr>').append(newForm);


            if ($newLinkLi.parent('table').find('tr:last')[0]) {
                $newLinkLi.parent('table').find('tr:last').after($newFormLi);
            } else {
                $newLinkLi.parent('table').prepend($newFormLi);
            }
        {#        $newLinkLi.before($newFormLi);#}
                addTagFormDeleteButton($newFormLi);
        {#            addTagFormDeleteLink($newFormLi);#}
            }

            function PreAddTagFormDeleteButton($tagFormLi) {
        {#        $(document).on('click', '.btn-remove', function(e) {#}
                var $removeFormA = $('<a class="btn btn-default btn-sm btn-remove" href="#"><span class="glyphicon glyphicon-remove-sign"></span></a>');

                $($tagFormLi).append($removeFormA);

                $removeFormA.on('click', function(e) {
// evita crear el enlace con una "#" en la URL
                    e.preventDefault();

// quita el li de la etiqueta del formulario
                    $tagFormLi.parent('tr').remove();

                });
            }

            function addTagFormDeleteButton($tagFormLi) {
        {#        $(document).on('click', '.btn-remove', function(e) {#}
                var $removeFormA = $('<a class="btn btn-default btn-sm btn-remove" href="#"><span class="glyphicon glyphicon-remove-sign"></span></a>');
                $($tagFormLi).find('.action').append($removeFormA);

                $removeFormA.on('click', function(e) {
// evita crear el enlace con una "#" en la URL
                    e.preventDefault();

// quita el li de la etiqueta del formulario
                    $tagFormLi.remove();




                });
            }


            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<a href="#" class="btn btn-default btn-sm">Eliminar</a>');
                $tagFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
// evita crear el enlace con una "#" en la URL
                    e.preventDefault();

// quita el li de la etiqueta del formulario
                    $tagFormLi.remove();





                });
            }

            $(document).on('change', '.select_producto', function() {

                var $objCaller = $(this);
                var valorActual = parseFloat($('#{{form.total.vars.id}}').val());
                $.ajax({
                    type: 'get',
                    url: '{{ path("producto_get_precio") }}',
                    data: {id: $(this).val()},
                    success: function(data) {                        
                        var cantidad = $objCaller.parents('tr').find('.cantidad').val();                        
                        var valorTotal = parseFloat(valorActual + (data * cantidad));
                        $('#{{form.total.vars.id}}').val('');
                        $('#{{form.total.vars.id}}').val(valorTotal);

                    }
                });
            });

            $(document).on('change', '.province_selector', function() {
                var $this = $(this);
                var data = {
                    province_id: $this.val()
                };

                $.ajax({
                    type: 'post',
                    url: '{{ path("select_localidades") }}',
                    data: data,
                    success: function(data) {
                        //var $address = $this.closest('tr');
                        $('.city_selector').html(data);
                    }
                });
            });
    </script>

{% endblock %}

