{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block title %}Nueva Factura {% endblock title %}
{% block body %}
    {{parent()}}
    <h1>Factura</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nº factura</th>
                <td>{{ entity.numeroFactura }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('factura') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('factura_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
