{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block title %}Listado Proveedores{% endblock %}
{% block body %}
    {{parent()}}

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('proveedores_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.direccion }}</td>
                    <td>{{ entity.telefono }}</td>
                    <td>{{ entity.mail }}</td>
                    <td>
                        <ul>
                            <a class="btn btn-default" href="{{ path('proveedores_edit', { 'id': entity.id }) }}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a> 

                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(entities) }}
    </div>

    <div class="pull-right">
        <a class="btn btn-primary" href="{{ path('proveedores_new') }}">
            Crear Nuevo
        </a>
    </div>

{% endblock %}
