{% extends 'ThemeBundle:Default:base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    Bienvenidos al index!

    <ul>
     {% for alumno in alumnos %}
        <li> {{ alumno }} </li>
     {% endfor %}
    </ul>

{% endblock %}