{% extends 'ThemeBundle:Default:base.html.twig' %}
{% block title %}Listado Localidades{% endblock %}
{% block body %}
{{parent()}}

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Provincia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.provincia }}</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('localidades_edit', { 'id': entity.id }) }}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>                                
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(entities) }}
    </div>

    <div class="pull-right">
        <a class="btn btn-primary" href="{{ path('localidades_new') }}">
            Crear Nuevo
        </a>
    </div>
{% endblock %}

