<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">        

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{asset('bundles/theme/css/united/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />

        <!-- Custom styles for this template -->
        <link href="{{asset('bundles/theme/css/login.css')}}" rel="stylesheet" type="text/css" />

        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {#<div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>#}

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}


        <div class="center text-center">
            <h2></h2>
        </div>
        <div class="container">
            <form action="{{ path('fos_user_security_check') }}" method="post" class="form-signin" role="form">
                <input class="form-control" value="" name="_username" autofocus="" required="" placeholder="Usuario">
                <input class="form-control" type="password" name="_password" required="" placeholder="Password">
                <input id="remember_me" type="checkbox" value="on" name="_remember_me">
                <label for="remember_me">Recordar</label>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            </form>
            {#{% block fos_user_content %}

            {% endblock fos_user_content %}#}
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{asset('bundles/theme/js/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js')}}" type="text/javascript" ></script>        
        <script src="{{asset('bundles/theme/js/bootstrap.min.js')}}" type="text/javascript" ></script>
    </body>
</html>