{% block menu %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('eticsol_homepage')}}">Inicio</a>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
            {#{% if is_granted('ROLE_ADMIN') %}
                {% set rol= {'0':'ROLE_ADMIN'} %}
            {% else %}
                {% set rol= usuario.getRoles() %}
    
            {% endif %}#}


            <ul class="nav navbar-nav">

                {#<li><a href="{{path('curriculum_homepage')}}">CV</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solicitudes  
                         {{ render(controller('EmpresasBundle:Default:solicitudesNuevas', {'idPersona': usuario.persona })) }}
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('solicitud')}}">Solicitud</a></li>                   
                    </ul>
                </li>#}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ubicacion <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('provincia')}}">Provincias</a></li>
                        <li><a href="{{path('localidades')}}">Localidades</a></li>
                            {# <li><a href="#">Something else here</a></li>
                             <li class="divider"></li>
                             <li class="dropdown-header">Dropdown header</li>
                             <li><a href="#">Separated link</a></li>
                             <li><a href="#">One more separated link</a></li>#}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventas <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('factura_new')}}">Nueva Venta</a></li>                        
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('productos')}}">Listado</a></li>                                                
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proveedores <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('proveedores')}}">Listado</a></li>                                                
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Condicion Pago <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('condicion_pago')}}">Listado</a></li>                                                
                        
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Iva <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('iva')}}">Listado</a></li>                                                
                        
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{app.user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" >
                                Cambiar Contraseña</a></li>
                        <li class="divider"></li>
                        <li><a href="{{path('fos_user_security_logout')}}">
                                <i><span class="glyphicon glyphicon-log-out"></span></i> Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}