{% extends 'ThemeBundle:Default:base.html.twig' %}

{% block title %}Alta Condicion Pago {% endblock title %}
{% block body %}
    
    <div class="well bs-component col-lg-10">
        <form action="{{ path('condicion_pago_create') }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                {{ form_widget(form) }}
            </fieldset>   
            <div class="record_actions pull-right">
                <button class="btn btn-primary"type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                <a class="btn btn-default" href="{{ path('condicion_pago') }}">
                    Volver
                </a>

            </div>
        </form>
    </div>


{% endblock %}
